<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- prod: JSON format for Loki structured queries -->
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <timeZone>Asia/Seoul</timeZone>
                        <fieldName>timestamp</fieldName>
                    </timestamp>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <mdc>
                        <includeMdcKeyName>traceId</includeMdcKeyName>
                        <includeMdcKeyName>userId</includeMdcKeyName>
                        <includeMdcKeyName>userRole</includeMdcKeyName>
                        <includeMdcKeyName>method</includeMdcKeyName>
                        <includeMdcKeyName>path</includeMdcKeyName>
                    </mdc>
                    <loggerName>
                        <fieldName>logger</fieldName>
                        <shortenedLoggerNameLength>36</shortenedLoggerNameLength>
                    </loggerName>
                    <message>
                        <fieldName>message</fieldName>
                    </message>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- local: readable plain text -->
    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%X{traceId}] [%X{userId}/%X{userRole}] %cyan(%logger{36}) - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
